.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid $lightdark;
  color: $white;
  span {
    color: $yellow;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  @media (max-width:700px) {
    display: none;
    width: 0px;
    
  }

  .user {
    img {
      height: 17rem;
      width: 17rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      border: 0.7rem solid $yellow;
    }
    .name {
      font-size: 3.5rem;
      color: $yellow;
    }
    .post {
      font-size: 2rem;
      color: $light;
    }
  }
  .navbar {
    width: 100%;
    ul {
      list-style: none;
      padding: 1rem 3rem;
    }
    li {
      a {
        padding: 0.7rem;
        margin: 1.5rem 0;
        background: $lightdark;
        color: $white;
        font-size: 2.5rem;
        border-radius: 5rem;
        display: block;
        background: linear-gradient(to right, $yellow 50%, $lightdark 50%);
        background-size: 200% 200%;
        background-position: right bottom;
        transition: all 1.1s ease-in;

        &:hover {
          background-position: left bottom;
          transform: scale(1.1);
        }
      }
      .active {
        background: $yellow !important;
      }
    }
  }
}

textarea,
textarea::placeholder {
  color: $white !important;
  font-size: 1.7rem;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: $lightdark;
  color: $white;
  font-size: 7.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}
